pip
wheel

pip-upgrade
twine
pytest

numpy
pandas
bs4
selenium

python-dotenv
psutil

sqlalchemy<2.0.0
psycopg2-binary

chromedriver-binary==112.0.5615.49
erddapy
podaacpy
certifi

html5lib

netcdf4
h5py
xarray
lxml
pysofar
dask
harmony-py

pillow
cloudinary
sphinx