pip
wheel

pip-upgrade
twine
pytest

numpy
pandas
bs4
selenium

python-dotenv
psutil

sqlalchemy
psycopg2-binary

chromedriver-binary==110.0.5481.77.0
erddapy
podaacpy
certifi

html5lib

netcdf4
h5py
xarray
lxml
pysofar
dask
harmony-py

pillow
cloudinary