pip
wheel

pip-upgrade
twine
pytest

numpy
pandas
bs4
selenium

python-dotenv
psutil

sqlalchemy
psycopg2-binary

chromedriver-binary==103.0.5060.53
erddapy
podaacpy

netcdf4
h5py
xarray
lxml
pysofar

pillow
cloudinary